<h1>Edit Product</h1>
<form action="" method="post">
  <label for="">
    Name
    <input
      type="text"
      name="name"
      id=""
      placeholder="Enter Name"
      value="{{oldProduct.name}}"
      required
    />
  </label>
  <br />
  <label for="">
    Price
    <input
      type="number"
      name="price"
      id=""
      placeholder="Enter Price"
      value="{{oldProduct.price}}"
      required
    />
  </label>
  <br />
  <label for="">
    Image
    <input
      type="url"
      name="image"
      id=""
      placeholder="Choose Image"
      value="{{oldProduct.image}}"
      required
    />
    <br />
    <img src="{{oldProduct.image}}" alt="image" width="100px" height="100px" />
  </label>
  <br />
  <select name="category" id="">
    {{#each categoryList}}
      <option value="{{_id}}">{{name}}</option>
    {{/each}}
  </select>
  <br />
  <input type="submit" value="Edit" />
</form>